<nav class="navbar navbar-toggleable-md navbar-light">
    <a class="navbar-brand">Cocktails</a>
    
    <div class="collapse navbar-collapse"></div>
    
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" routerLinkActive="active" routerLink="/cocktails" >Cocktails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLinkActive="active" routerLink="/panier">Panier</a>
            </li>
        </ul>
    
</nav>
